<div class="container">
  <h1>Welcome to My Shopping Website Demo</h1>
  <p>
    Are you ready to explore my shopping website and experience hassle-free
    online shopping? Let's get started!
  </p>

  <h2>How to Use My Demo:</h2>
  <ul>
    <li>
      <strong>Browse Products:</strong> Explore a wide range of products. You
      can view product details by clicking the product and add items to your
      cart.
    </li>
    <li>
      <strong>Shopping Cart:</strong> Visit the "Cart" page to view items you've
      added to your cart. You can remove items or proceed to checkout.
    </li>
    <li>
      <strong>Checkout:</strong> Click "Checkout" to review your order, provide
      shipping information, and complete your purchase.
    </li>
    <li>
      <strong>Order History:</strong> Login then visit the "My Order" page to
      view your order history and track the status of your orders.
    </li>
    <li>
      <strong>Login/Logout:</strong> You can log in or log out using the
      "Login/Logout" button in the navigation bar.
    </li>
    <li>
      <strong>Enjoy Shopping:</strong> Explore the features, add products to
      your cart, and experience the convenience of online shopping with my demo.
    </li>
  </ul>

  <p>
    <strong>Note:</strong> This is a demonstration website, and no real
    transactions will take place. Feel free to browse, add items to your cart,
    and enjoy the shopping experience without any actual charges.
  </p>

  <p>Happy shopping!</p>
  <button [routerLink]="['/product-list']" (click)="onButtonClick()">
    Go explore!!!
  </button>
</div>
