<div class="back-arrow" (click)="goBackToProductList()">&#8592; Back</div>
<div class="cart-container">
  <h2>Your Cart</h2>
  <div class="cart-container" *ngIf="cartItems.length != 0">
    <ul>
      <li class="cart-items" *ngFor="let item of cartItems">
        <div class="item-price">${{ item.price }}</div>
        <div class="item-name">{{ item.title }}</div>
        <div class="item-expectedDelivery">(Expected Delivery 3 - 6 days)</div>
        <button class="button-remove" (click)="removeFromCart(item)">
          Remove
        </button>
      </li>
    </ul>
    <h3>Total: ${{ total }}</h3>
    <button (click)="checkout()">Checkout</button>
  </div>
  <div *ngIf="cartItems.length == 0">
    <h3>
      Your cart is empty,
      <a (click)="goBackToProductList()">Go Shopping!</a>
    </h3>
  </div>
</div>
