<div class="topbar">
  <div class="left">
    <a [routerLink]="['/product-list']">
      <h1>My Store</h1>
    </a>
  </div>
  <div class="right">
    <a [routerLink]="['/login']" class="button fancy-button">Login/Logout</a>
    <a [routerLink]="['/cart']" class="button fancy-button">
      <i class="material-icons">shopping_cart</i>Checkout
    </a>
    <a [routerLink]="['/order']" class="button fancy-button">
      <i class="material-icons">reorder</i>My Order
    </a>
  </div>
</div>
