.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 10px 20px;
  width: 100%;
}

.left {
  flex: 1;
}

.right {
  display: flex;
  gap: 10px;
}
